<!doctype html>
<html ng-app="mutiny">
<head>
    <title>Mutiny Application</title>
    <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="js/ng-stomp.standalone.min.js"></script>
    <script src="hello.js"></script>
    <script src="app.js"></script>
</head>

<body>

<div id="posts"></div>

<div ng-controller="PostCtrl">
    <div ng-repeat="post in posts">
        <div class="grid-item">
            <p id="description-element">{{post.description}}</p>
            <img ng-if={{post.category.name=='music'}} src="{{post.album.image[0].imageUrl}}" ng-click="alert('test')"/>
            <img ng-if={{post.category.name=='movies'}} src="{{post.results[0].poster_path}}"/>
            <img ng-if={{post.category.name=='books'}} src="{{post.items[0].volumeInfo.imageLinks.thumbnail}}"/>
            <div class="container">
                <p ng-if={{post.category.name=='music'}} title="{{post.album.name}}">{{post.album.name}} by {{post.album.artist}}</p>
                <p ng-if={{post.category.name=='movies'}} title="{{post.results[0].original_title}}">{{post.results[0].original_title}}</p>
                <p ng-if={{post.category.name=='books'}} title="{{post.items[0].volumeInfo.title}}">{{post.items[0].volumeInfo.title}} by
                    {{post.items[0].volumeInfo.authors[0]}}</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <p>{{payload.description}}</p>
        <img ng-if={{post.category.name=='music'}} src="{{post.album.image[0].imageUrl}}" ng-click="alert('test')"/>
        <img ng-if={{post.category.name=='movies'}} src="{{post.results[0].poster_path}}"/>
        <img ng-if={{post.category.name=='books'}} src="{{post.items[0].volumeInfo.imageLinks.thumbnail}}"/>
        <div class="container">
            <p ng-if={{payload.category.name=='music'}} title="{{payload.album.name}}">{{payload.album.name}} by {{payload.album.artist}}</p>
            <p ng-if={{payload.category.name=='movies'}} title="{{payload.results[0].original_title}}">
                {{payload.results[0].original_title}}</p>
            <p ng-if={{payload.category.name=='books'}} title="{{payload.items[0].volumeInfo.title}}">{{payload.items[0].volumeInfo.title}} by
                {{payload.items[0].volumeInfo.authors[0]}}</p>
        </div>
    </div>
</div>

</body>
</html>